.nav {
  display: flex;
  text-align: center;
  background-color: #6532CB;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  font-size: 2em;
}
.nav > * {
  padding-right: 20px;
}
div {
  display: block;
}
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul {
  font-size: 12px;
  color: #551A8B;
}